@mixin responsiv-sm($breakpoint) {
  @media only screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin responsiv-md($breakpoint) {
  @media only screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin responsiv-lg($breakpoint) {
  @media only screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin responsiv-xl($breakpoint) {
  @media only screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absolutePosition {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
