$font-family: "Dosis", sans-serif;
$font-size-default: 1.6rem;
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey: #eee;
$color-grey-light-1: #f7f7f7;
$color-grey-dark: #999;
$color-white: #fff;
$color-black: rgba(61, 59, 59, 0.829);

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

$i: 1;
$loop: 8;

$breakpoints: (
  sm: 41.7em,
  md: 56.25em,
  lg: 75em,
  xl: 112.5em
);
$sm: map-get($breakpoints, sm);
$md: map-get($breakpoints, md);
$lg: map-get($breakpoints, lg);
$xl: map-get($breakpoints, xl);
