*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
}

html {
  font-size: 62.5%;

  @include responsiv-lg($lg) {
    font-size: 56.25%;
  }

  @include responsiv-md($md) {
    font-size: 50%;
  }
  @include responsiv-xl($xl) {
    font-size: 75%;
  }
}

body {
  font-family: $font-family;
  line-height: 1.7;
  color: $color-black;
  box-sizing: border-box;
}

sup {
  color: #eeebeb;
}

a {
  color: transparentize($color-black, 0.3);
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
