.section-about {
  background: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -25vh;

  @include responsiv-md($md) {
    padding: 20rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  margin-top: -10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
  @include responsiv-md($md) {
    padding: 10rem 0;
  }
}

.section-tours {
  background: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
  @include responsiv-md($md) {
    padding: 20rem 0 10rem 0;
  }
}

.section-stories {
  padding: 15rem 0;
  position: relative;
  overflow: hidden;

  @include responsiv-md($md) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  @include responsiv-md($md) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-primary-dark, 0.45);

  @include responsiv-md($md) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  @include responsiv-sm($sm) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 6rem;
    @include responsiv-md($md) {
      width: 65%;
    }

    @include responsiv-sm($sm) {
      width: 100%;
    }
  }

  &__submit {
    @include responsiv-md($md) {
      width: auto;
      padding: 0 6rem;
    }

    @include responsiv-sm($sm) {
      width: auto;
      padding: 0 5rem;
    }
  }
}
